name: build and test

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and run tests
        run: |
          npm install
          npx playwright install chromium-headless-shell
          npm run build
          chmod +x ../BrewLog
          npm run test

      - name: Archive playwright-report
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: playwright-report
          path: |
            frontend/playwright-report/index.html
