name: Build and run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and run tests
        run: |
          cd frontend
          npm install
          npx playwright install
          npm run build
          cd ../backend
          go mod download
          go build -tags production
          chmod +x BrewLog
          cd ../frontend
          npm run test

      - name: Archive test results
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: |
            frontend/playwright-report/index.html

